if TARGET_ZAIUS_BMC

config SYS_CPU
	default "arm1176"

config SYS_BOARD
	default "zaius-bmc"

config SYS_VENDOR
	default "aspeed"

config SYS_SOC
	default "aspeed"

config SYS_CONFIG_NAME
	default "zaius-bmc"

endif
